@font-face {
  font-family: "RivannaNF";
  src: url('RivannaNF.ttf') format("truetype");
}

@font-face {
  font-family: "Berolina";
  src: url('Berolina.ttf') format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url('Merriweather-Regular.ttf') format("truetype");
}

body {
  background-color: #F0E8DE;
  color: #393939;
  font-family: "Berolina", Verdana, Tahoma;
}

a {
  color: #393939;
  text-decoration: none;
}

.container {
  margin: 5rem auto;
  width: 1024px;
}

.framed {
  border: 1rem #393939 solid;
}

.title {
  font-family: "RivannaNF", Verdana, Tahoma;
  font-size: 14rem;
  position: relative;
  text-align: center;
}

#klimt {
  background: linear-gradient(rgba(255,255,255,0) 60%, #F0E8DE), url("Klimt.jpeg");
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.name {
  position: relative;
}

.ikons {
  border-top: 0;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.bass {
  border: 1rem #393939 solid;
  width: 100%;
}

.caption {
  float: right;
  font-family: "Berolina", Verdana, Tahoma;
  font-size: 1.2rem;
}

.columns {
  display: flex;
}

.columns .small-pane {
  display: flex;
  flex: 1;
}

.columns img {
  align-self: center;
  margin: 0 auto;
  max-width: 20rem;
}

ul {
  flex: 2;
  font-family: "Berolina", Verdana, Tahoma;
  font-size: 60px;
  list-style: none;
}

li {
  margin: 3rem 0;
}

.poem {
  flex: 1;
  font-size: 1.75rem;
  font-family: "Merriweather", Verdana, Tahoma;
  margin: 5rem 1rem;
}

.rhodes {
  background:
    linear-gradient(to right, transparent, #F0E8DE),
    linear-gradient(to left, transparent, #F0E8DE),
    linear-gradient(to top, transparent, #F0E8DE),
    linear-gradient(to bottom, transparent, #F0E8DE),
    url("rhodes.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}

.statue-down {
  background:
    linear-gradient(to top, transparent, #F0E8DE),
    linear-gradient(to bottom, transparent, #F0E8DE),
    url("statue-down.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}
